form
{
	margin: 0;
	padding: 0;
}

.mediumtextfield {
        width:8em;
}

.tinytextfield {
        width:4em;
}

#errorExplanation
{
	border-color: #c00;
	border-width: 1px;
	border-style: solid;
	width: 90%;
	margin: 1em auto;
	font-size: 14px;
	background-color: #eee;
}

#errorExplanation p { margin: 1em; }

#errorExplanation h2
{
	margin: 0;
	background-color: #c00;
	color: #fff;
	font-size: 14px;
	letter-spacing: 1px;
	padding: 5px 10px;
}

.fieldWithErrors
{
	margin: 0;
	display: inline;
	border-color: #c00;
	border-width: 0 2 0 2px;
	border-style: solid;
	padding: 0px 0px;
}


#notice
{
	background-color: #cfc;
	border-color: #090;
	border-width: 1px 0;
	border-style: solid;
	padding: 5px 10px;
	font-size: 14px;
	margin: 1em 0;
}

#error
{
	background-color: #FCC;
	border-color: #c00;
	border-width: 1px 0;
	border-style: solid;
	padding: 5px 10px;
	font-size: 14px;
	margin: 1em 0;
}


/* ------ my form -----------*/
.myform {
	background:#fff;
	padding:1em;
	border:1px solid #eee;
}
.myform fieldset div {
	margin:0.3em 0;
	clear:both;
}
.myform {
	margin:1em;
	width:45em;
}
.myform label.leftlabel {
	float:left;
	width:15em;
	text-align:right;
	margin-right:1em;
}
.myform legend {
	color:#0b77b7;
	font-size:1.2em;
}
.myform legend span {
	width:10em;
	text-align:right;
}
.myform input {
	padding:0.15em;
	margin:0.15em;
	width:15em;
	border:1px solid #ddd;
	background:#fafafa;
	font:bold 0.95em arial, sans-serif;
	-moz-border-radius:0.4em;
	-khtml-border-radius:0.4em;
}

.myform input.smalltextfield {
        width:5em;
}

.myform textarea {
	width:17em;
	height:5em;
}

.myform .largetextarea {
	width:40em;
	height:5em;
}

.myform select {
	padding:0.15em;
	margin:0.15em;
        width:17em;
}

.myform .smallselect {
        width:5em;
}

.myform input:hover, input:focus {
	border-color:#c5c5c5;
	background:#f6f6f6;
} 
.myform fieldset {
	border:1px solid #ddd;
	padding:0 0.5em 0.5em;
}

.myform .radio {
        width:auto;
	margin:0.15em;
	padding:0.15em;
        background:none;
        border:none;
}

.myform .checkbox {
        width:auto;
	margin:0.15em;
	padding:0.15em;
        background:none;
        border:none;
}

.myform .email {
	width:14em;
}

.myform .submit {
	width:10em;
}

.myform input.default {
	color:#bbb;
}

.prettyfieldset{
  font-family: Arial, Sans-Serif;
  font-size: 13px;
  background-color: #d6e5f4;
  padding: 10px;
  width:310px;
  float: left;      
  padding: 4px;
  margin: 5px;
}

.prettyfieldset input, .prettyfieldset textarea{
  font-family: Arial, Sans-Serif;
  font-size: 13px;
  margin-bottom: 5px;
  display: block;
  padding: 4px;
  width: 300px;
}

.prettyfieldset legend
{ 
  font-weight:bold
}

.diffform
{
  width: 750px; 
  margin: auto;
}

.dryrunform
{
  width: 310px; 
  margin: auto;
}

.textcontent{
  background-color:white;
}
